<!DOCTYPE html>
<html>
  <head>
    <title>Empty folder</title>
  </head>
  <body>
  	<div style="text-align: center;">
  		  	<img src="images/empty.png" height="500px" width="550px">
  				<p><a href="https://www.dropbox.com/personal/Apps/dbximgs%20demo" target="_blank">Go to folder</a></p> 
  	</div>

  </body>
</html>